<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('partials/head')%>
  <body>

    <div class="container">

    <%-  include('partials/nav')%>
    <p>The closing balance for <%= query %> is: <br/> <%= price %></p>

  </div>
  </body>
</html>
